# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/codeStyles/codeStyleConfig.xml
/tester_15_08_21/
/tests/
/spkmeans.cp39-win_amd64.pyd
/build/
/spkmeansmodule.cp39-win_amd64.pyd
